{% extends "home/base.html" %}

{% block content %}
<div class="container">

    <section class="h-100 h-custom" style="background-color: #D6FFF8;">
        <div class="container py-5 h-100" >
            <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card" style="background-color: #FFD6F4;">
                <div class="card-body p-4">
        
                    <div class="row">
        
                    <div class="col-lg-7">
                        <h5 class="mb-3"><a href="{% url 'product:product_list' %}" class="text-body">micro-Product</a></h5>

                        <a class="btn" href="{% url 'order:order_list' %}" style="background-color:#08f494;">Order History
                
                            
            
                            </a>
                        <hr>
        
                        <div class="d-flex justify-content-between align-items-center mb-4">
                        <div>
                            <p class="mb-1">Shopping cart</p>
                            <p class="mb-0">You have {{order_detail|length}} items in your cart</p>
                        </div>
                        </div>
    
                        {% for item in order_detail %}
        
                        <div class="card mb-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div>
                                <img
                                    src="{{item.product.image.url}}"
                                    class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                </div>
                                <div class="ms-3">
                                <h5>{{item.product.product_name}}</h5>
                                <p class="small mb-0">{{item.product.description|safe}}</p>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <div style="width: 30px;">
                                <h5 class="fw-normal mb-0">{{item.quantity}}</h5>
                                </div>
                                <div style="width: 120px;">
                                <h5 class="mb-0">x ${{item.product.price|floatformat:"0g"}}</h5>
                                </div>
                                <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                            </div>
                            </div>
                        </div>
                        </div>
    
                        {% endfor %}
        
                    </div>
                    <div class="col-lg-5" >
        
                        <div class="card text-white rounded-3">
                        <div class="card-body"  style="background-color: #D6FFF8; color:black">
                            <div class="d-flex justify-content-between align-items-center mb-4">
                            <h5 class="mb-0">CUSTOMER DETAILS</h5>
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                                class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                            </div>
        
                            <p class="form-label" for="typeName">Address: {{order.customer.address}}</p>
                            <p class="form-label" for="typeName">Phone Number: {{order.customer.phone_number}}</p>
                            
                            <hr class="my-4">
        
                            <div class="d-flex justify-content-between">
                            <p class="mb-2">Subtotal</p>
                            <p class="mb-2"></p>
                            </div>
        
                            <div class="d-flex justify-content-between">
                            <p class="mb-2">Shipping</p>
                            <p class="mb-2">
                            </p>
                            </div>
        
                            <div class="d-flex justify-content-between mb-4">
                            <p class="mb-2">Total(Incl. taxes)</p>
                            <p class="mb-2">
                            </p>
                            </div>
                            
                            {% if order.id %}
                            <form class="mt-4" action="{% url 'cart:order' order.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-outline form-white mb-4">
                                    <input type="text" id="typeName" class="form-control form-control-lg" size="17"
                                    placeholder="micro-Note" name="description" />
                                </div>
                                <input type="submit" type="button" class="btn btn-info btn-block btn-lg" value="Xac nhan don hang" />
                            </form>
                            {% endif %}
        
                        </div>
                        </div>
        
                    </div>
        
                    </div>
        
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>

</div>
{% endblock content %}
