{% extends 'home/base.html' %}
{% block content %}
<h1>Book Category</h1>
<hr/>


<div class="row">

    {% for category in category_list %}
    
    <div class="col-6 col-md-4 col-lg-4 p-2">

        <div class="card" style="width: 18rem; background-color: #FFD6F4">
            <div class="card-body">
              <h5 class="card-title"><a style="color: #7A32C0"> {{ category.category_name }} </a></h5>
              <p class="card-text" style="color: #7A32C0">{{ category.description }}</p>
        
              <a class="btn" href = "{% url 'category:category_detail' category.id %}" style="background-color: #D6FFF8; color: #7A32C0">Show More</a>
            
            </div>
        
          </div>
        
        </div>



  
{% endfor %}

</div>


{% endblock content %}