{% extends "home/base.html" %}

{% block content %}
<div class="container">
    <h1>Log In</h1>
    <hr/>
    <div class="row justify-content-center">
        <div class="col-5">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                <label for="inputUsername3" class="col-sm-2 col-form-label">User</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputUsername3" name="username">
                </div>
                </div>
                <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" name="password">
                </div>
                </div>
                <button type="submit" class="btn btn-primary">Enter</button>

                {% for error in errors %}
                    <p>{{ error }}</p>
                {% endfor %}

            </form>
        </div>
    </div>
</div>
{% endblock content %}
