{% extends 'home/base.html' %}
{% block content %}
<h1>Danh muc san pham</h1>
<hr/>

<div class="row">

    {% for author in author_list %}
    
    <div class="col-6 col-md-4 col-lg-4 p-2">

        <div class="card" style="width: 18rem; background-color: #FFD6F4">
            <div class="card-body">
              <h5 class="card-title"><a style="color: #7A32C0"> {{ author.full_name }} </a></h5>
              <p class="card-text" style="color: #7A32C0">{{ author.country }}</p>
        
              <a class="btn" href = "{% url 'author:author_detail' author.id %}" style="background-color: #D6FFF8; color: #7A32C0">Show More</a>
            
            </div>
        
          </div>
        
        </div>



  
{% endfor %}

</div>



{% endblock content %}